/* 한글 */

/* 나눔명조 */
@import url('//fonts.googleapis.com/earlyaccess/nanummyeongjo.css');

/* 나눔고딕 */
/* src/index.css or src/styles/global.css */
@import url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css");

/* 검은고딕 */
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');

/* 갈무리 */
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

/* 제주고딕 */
@import url('//fonts.googleapis.com/earlyaccess/jejugothic.css');

/* 여기어때잘난체 */
@font-face {
    font-family: 'YeogiOttaeJalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

/* 온글잎 박다현체 */
@font-face {
    font-family: 'OngleipParkDahyeon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* 케리스케두 라인 */
@font-face {
    font-family: 'KerisKeduLine';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-3@1.0/KERISKEDU_Line.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* 영월 */
@font-face {
    font-family: 'Yeongwol';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2507-2@1.0/YeongwolTTF-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* 함초롬바탕 */
@font-face {
    font-family: 'Hamchorom';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/HANBatang.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

/* 단조 */
@font-face {
    font-family: 'Simple';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* 대구동성로 */
@font-face {
    font-family: 'DaeguDongseongRo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/DaeguDongseongro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'DaeguDongseongRo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/DaeguDongseongro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/* 롯데자이언츠 */
@font-face {
    font-family: 'GiantsInline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* 무적해병 */
@font-face {
    font-family: 'Mujeokhaebeong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2502-1@1.0/MarinesRegular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Mujeokhaebeong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2502-1@1.0/MarinesBold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/* 영어 */

@font-face {
    font-family: 'Cafe24Decobox';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decobox.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MoveSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/* ===== Quill font class mapping ===== */
/* Quill font class mapping */
.ql-font-YeogiOttaeJalnan { font-family: 'YeogiOttaeJalnan' !important; }
.ql-font-OngleipParkDahyeon { font-family: 'OngleipParkDahyeon' !important; }
.ql-font-KerisKeduLine { font-family: 'KerisKeduLine' !important; }
.ql-font-Yeongwol { font-family: 'Yeongwol' !important; }
.ql-font-Hamchorom { font-family: 'Hamchorom' !important; }
.ql-font-Simple { font-family: 'Simple' !important; }
.ql-font-DaeguDongseongRo { font-family: 'DaeguDongseongRo' !important; }
.ql-font-GiantsInline { font-family: 'GiantsInline' !important; }
.ql-font-Mujeokhaebeong { font-family: 'Mujeokhaebeong' !important; }
.ql-font-Cafe24Decobox { font-family: 'Cafe24Decobox' !important; }
/* google earlyaccess */
.ql-font-NanumGothic { font-family: 'Nanum Gothic', sans-serif !important; }
.ql-font-NanumMyeongjo { font-family: 'Nanum Myeongjo', serif !important; }
.ql-font-JejuGothic { font-family: 'Jeju Gothic', sans-serif !important; }
.ql-font-BlackHanSans { font-family: 'Black Han Sans', sans-serif !important; }

body {
  font-family: "Nanum Gothic", sans-serif;
}